<h3>Usuarios</h3>
<br>
<strong>Nombre:</strong>
<%= @usuario.nombre %>
<br>
<strong>Apellido:</strong>
<%= @usuario.apellido %>
<br>
<strong>Email:</strong>
<%= @usuario.correo %>
<br>
<strong>Fecha Nacimiento:</strong>
<%= @usuario.fechanacimiento %>
<br>
<%= link_to 'Volver', usuarios_path %>